body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg-football.jpg") no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
}

main {
    min-height: calc(100vh - 232px);
}